body{
    background-color: #DDEEAA;
    height: 100%;
    width: 100%;
    padding: 0%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contener
{
    /*clear: both;*/
    width: 770px;
    background-color: white;
    height: 1600px;
    /*justify-content: center;*/
    margin: auto;
    border: 1px solid #AABB44;
}
.pomme{
    width: 770px;
    height: 200px;
    text-decoration: underline;
    color: #4D2186;
    background-image: url(../images/apple.jpg);
    background-repeat: no-repeat;
    background-position: left;
}
.bandeau
{
    width: 770px;
    height: 20px;
    background-color: #9FD352;
}
.bouton
{
    width: 132px;
    height: 20px;
    float: left;
    color: white;
    border-right: 1px solid white;
}
.gauche
{
    float: left;
    height: 780px;
    width: 80px;
    background-image: url(..//images/bg_page.gif);
    background-repeat: no-repeat;
}
.texte
{
    float: left;
    height: 100%;
    width: 690px;
}
h3{
    text-align: left;
    color: #A1B943;
    border-bottom: solid 1px #AABB44;
    width: 95%;
}
h4{
    text-align: left;
    color: #AABB44;
    border-bottom: solid 1px #AABB44;
    border-left: solid 1px #AABB44;
    width: 95%;
}
p{
    text-align: left;
    color: black;
}

.bouton:hover
{
    background-color: gold;
}

.decal_g
{
    float:left;
    color:#8FA833
}

.decal_d
{
    float:right;
    color:#8FA833
    
}